### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

#Display the total number of players
purchase_data_s.value_counts(dropna=False)

In [3]:
player_count = len(purchase_data_df["SN"].unique())

In [4]:
print(player_count)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
item_count = len(purchase_data_df["Item Name"].unique())
print(item_count)

179

In [6]:
 average_price = (purchase_data_df["Price"].mean())

In [7]:
print(round(average_price,2))

3.05

In [8]:
purchase_count = (purchase_data_df["Purchase ID"].count())
print(purchase_count)

780

In [9]:
total_revenue = (purchase_data_df["Price"].sum())
print(total_revenue)

2379.77

In [10]:
summary_table = pd.DataFrame({"Number of Unique Items": [item_count], 
                              "Average Price": [round(average_price,2)], 
                              "Number of Purchases": [purchase_count], 
                              "Total Revenue": [total_revenue]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# Split up data into groups based upon 'gender'
player_info = purchase_data_df["SN"].nunique()
players_by_gender = purchase_data_df['Gender']
players_by_gender_df = pd.DataFrame(players_by_gender)

# Percentage count gender
percent_players = (purchase_data_df['Gender'].value_counts() / (purchase_data_df['Gender'].count())) * 100

print(purchase_data_df.groupby('Gender')['SN'].nunique())

print(percent_players)

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64
Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [12]:
# Add to table
players_by_gender['Percent of Players'] = percent_players

gender_count_df = pd.DataFrame(players_by_gender_df)
gender_count

# Rename 'Gender' to 'Total Count'
new_gender_count_df = gender_count_df.rename(columns={
    'Gender':'Total Count',
})
                                                     
new_gender_count_df

/Users/keithgreenwalt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

NameError: name 'gender_count' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame